P{
	font-size: 15pt; color: green; font-family: "Verdana CE",
	Verdana, "Arial CE", Arial, Helvetica, sens-serif;
	text-decoration: 2px; font-weight: normal;
}

H5{
	font-size: 8pt; color: gray;
	font-family:"Verdana CE", Verdana, "Arial CE", Arial, 
	Helvetica, sens-serif; text-decoration: noene; text-align:justify;
	margin_botton: 2px; font-weight:normal
}